/*Start Font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono&display=swap');
/*End Font*/

/*Start Body*/
body
{background-color: white;;
color: darkslategrey;        
font-family: Open Sans, Helvetica, Arial, sans-serif;
font-size: 20px;
line-height: 1.5em;
margin: 0;
padding: 0;}
/*End Body*/

/*Start Debug*/
.bg-wheat {background-color: wheat;}
.bg-salmon {background-color: salmon;}
/*End Debug*/

/*Start Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;}
/*End Container*/

/*Start Logo*/
.logo {text-align: center;}  
/*End Logo*/

/*Start Menu Primer*/
.menu-primer {
    overflow: hidden;}

.menu-primer ul {
    text-align: center;
    background-color: salmon;
    border-radius: 4px;
    box-shadow: 
    0 3px 5px -1px rgba(98,177,165),
    0 6px 10px 0 rgba(0,0,0,.14),
    0 1px 18px 0px rgba(0,0,0,.12);}  

.menu-primer li {
    border-right: 1px solid white;
    display: inline-block;
    margin: 0-4px;}

.menu-primer a {
    color: teal;
    font-size: 18px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-transform: uppercase;}

.menu-primer a:hover {
    background-color: #ffffff;
    color: teal;
    text-decoration: none;}

.menu-primer .active {
    background-color: #ffffff;
    color: teal;
    text-decoration: none;}
/*End Menu Primer*/

/*Start Anchor/Hyperlink*/
a:link,
a:visited 
    {color: teal;
    text-decoration: none;}
a:hover,
a:active
    {color: teal;
    text-decoration: underline;}
/*End Anchor/Hyperlink*/

/*Start Heading*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;}

h1 {font-size: 28px;} 
h2 {font-size: 24px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 13px;}
/*End Heading*/

/*Start Jumbotron*/
.jumbotron {
    background-color:#dae7f5;
    border: 1px solid #dae7f5;
    border-radius: 4px;
    padding: 20px 0;}

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;}

.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;}
/*End Jumbotron*/

/*Start Main*/
.main-home-one {
    float: left;
    width: 49.5%;}
.main-home-two {
    float: right;
    width: 49.5%;}
/*End Main*/

.main-home-one .box-isi
.main-home-two .box-isi {
    height: 150px ;
}



/*Start Box*/
.box-heading {
    background-color: wheat;
    border: 1px solid #ffffff;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}


/*End Box*/



